In [4]:
def func_constant(values):

    print(values[0])

In [5]:
lst = [1,2,3]
func_constant(lst)

1

In [13]:
def func_lin(lst):
    for val in lst:
        print(val)

In [15]:
func_lin(list(range(1,11)))

1
2
3
4
5
6
7
8
9
10

In [17]:
def func_quad(lst):

    for item_1 in lst:
        for item_2 in lst:
            print(item_1, item_2)

In [18]:
func_quad(lst)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3